@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Barlow", sans-serif;
}

.your-slider img {
    width: 100%;
    height: auto;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px !important;
    line-height: 1;
    opacity: .75;
    color: rgb(170, 8, 8) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 50px !important;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scrolling-wrapper {
    animation: scroll 15s linear infinite;
}

.itemss {
    position: relative;
}

.itemss:hover .mm-main {
    opacity: 1;
    visibility: visible;
}

.mm-main {
    width: 1135px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    top: 40px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.mega-menu-1 {
    padding-left: 25px;
    width: 216px;
    height: 436px;
}

.mm-main ul li {
    list-style-type: none;
    color: #282c3f;
    line-height: 23px;
    font-weight: 400;
}